<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet"> 
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">

  <style>
   #b1
   {
       position: fixed;
       left:0px;
   }
   .mobile{
       display:none;
   }
   .desktop{
       display:block;
   }
   .bh{
       height:670px;
   }
   @media screen and (max-width:600px){
    .mobile{
       display:block;
    }
    .desktop{
        display:none;
    }   
    .bh{
        height: auto;
    }
   }
   </style>
  {% block myblock %}
    {% endblock %}
</head>
<body >
       
  <div class='container-fluid' >
      <div class='row' >
         <div class='col-md-2 sticky-top bh' style='background: #333333;'>
                   <div class='row'>
                       <div class='col-md-12 px-0 ' >
                           <div class="desktop">
                            <nav class="navbar navbar-dark">
                                    <!-- Brand -->              
                                    <!-- Navbar links -->
                                  
                                      <ul class="navbar-nav">
                                            <li class='nav-item pb-3'>
                                                    <a href='{% url "dashcomp"%}' class='nav-link'>
                                                         <i class="fa fa-dashboard text-light" style='font-size:17px'></i>
                                                               <span class='text-light '>Dashboard {{user.first_name}}</span>
                                                              
                                                      </a>
                                               </li>
                                               
                                                   <li class='nav-item pb-3'>

                                                     <a href="{% url 'postjob'%}" class='nav-link' style='color:#fff;font-size: 16px;font-family: "poppins", sans-serif;
                                                     font-weight: 500;' >
                                                     <i class="fa fa-envelope text-light" style='font-size:17px'></i>
                                                          
                                                     Post a Job</a>
                                                   </li>
                                                  
                                                        <li class='nav-item pb-3  '>
                                                                
                                                         <a href=" {% url 'jobs' %}"  class='nav-link' style=' color:#fff;font-size: 16px;font-family: "poppins", sans-serif;
                                                         font-weight: 500;' >
                                                         <i class="fa fa-envelope-open-o text-light" style='font-size:17px'></i>
                                                        
                                                         All Jobs</a>
                                                        </li>
                                               <li class='nav-item pb-3 '>
                                                       <a href="{% url 'pass' %}" class='nav-link'>
                                                            <i class="fa fa-lock text-light" style='font-size:17px' ></i>
                                                        <span class='text-light'>Change Password</span>
                                                        </a>
                                                </li>
                                      
                                       
                                               <li class='nav-item pb-3 '>
                                                       <a href="{% url 'edit' %}" class='nav-link'>
                                                               <i class="fa fa-edit text-light" style='font-size:17px' ></i>
                                                           <span class='text-light'>Company Profile</span>
                                                       </a>
                                                   </li>
                                                  
                                                      
                                                          
                                                               <li class='nav-item pb-3'>
                                                                       <a href="{% url 'companies' %}" class='nav-link'>
                                                                               <i class="fa fa-sign-out text-light" style='font-size:17px'></i>
                                                                           <span class='text-light'>Latest Companies</span>
                                                                       </a>
                                                                   </li>
                                                                   <li class='nav-item pb-3'>
                                                                       <a href="{% url 'applicants' %}" class='nav-link'>
                                                                               <i class="fa fa-sign-out text-light" style='font-size:17px'></i>
                                                                           <span class='text-light'>Applicants</span>
                                                                       </a>
                                                                   </li>
                                                                  
                                                                  
                           
                                                                   <li class='nav-item pb-3'>
                                                                       <a href='{% url "uslogout"%}' class='nav-link'>
                                                                               <i class="fa fa-sign-out text-light" style='font-size:17px'></i>
                                                                           <span class='text-light'>Logout</span>
                                                                       </a>
                                                                   </li>
                                                                   
                                                            
                                                   </ul>
                                  
                                  </nav>        
                                  </div>
                                  <div class="mobile">
                            <nav class="navbar navbar-dark">
                                    <!-- Brand -->              
                                    <!-- Navbar links -->
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                                            <span class="navbar-toggler-icon"></span>
                                          </button>
                                          <div class="collapse navbar-collapse" id="collapsibleNavbar">
                                      <ul class="navbar-nav">
                                            <li class='navbar-item pb-3'>
                                                    <a href='{% url "dashcomp"%}' class='nav-link'>
                                                         <i class="fa fa-dashboard text-light" style='font-size:17px'></i>
                                                               <span class='text-light '>Dashboard {{user.first_name}}</span>
                                                              
                                                      </a>
                                               </li>
                                              
                                                   <li class='nav-item pb-3'>
                                                     <a href="{% url 'postjob'%}" class='nav-link' style='color:#fff;font-size: 16px;font-family: "poppins", sans-serif;
                                                     font-weight: 500;' >Post a Job</a>
                                                   </li>
                                                  
                                                        <li class='nav-item pb-3  '>
                                                         <a href=" {% url 'jobs' %}"  class='nav-link' style=' color:#fff;font-size: 16px;font-family: "poppins", sans-serif;
                                                         font-weight: 500;' >All Jobs</a>
                                                        </li>
                                               <li class='nav-item pb-3 '>
                                                       <a href="{% url 'pass' %}" class='nav-link'>
                                                            <i class="fa fa-lock text-light" style='font-size:17px' ></i>
                                                        <span class='text-light'>Change Password</span>
                                                        </a>
                                                </li>
                                      
                                       
                                               <li class='nav-item pb-3 '>
                                                       <a href="{% url 'edit' %}" class='nav-link'>
                                                               <i class="fa fa-edit text-light" style='font-size:17px' ></i>
                                                           <span class='text-light'>Company Profile</span>
                                                       </a>
                                                   </li>
                                                   <li class='nav-item pb-3 '>
                                                           <a href="{% url 'editpr' %}" class='nav-link'>
                                                                   <i class="fa fa-edit text-light" style='font-size:17px' ></i>
                                                               <span class='text-light'>Edit Profile</span>
                                                           </a>
                                                       </li>
                                                      
                                                          
                                                               <li class='nav-item pb-3'>
                                                                       <a href="{% url 'companies' %}" class='nav-link'>
                                                                               <i class="fa fa-sign-out text-light" style='font-size:17px'></i>
                                                                           <span class='text-light'>Latest Companies</span>
                                                                       </a>
                                                                   </li>
                                                                   <li class='nav-item pb-3'>
                                                                       <a href="{% url 'applicants' %}" class='nav-link'>
                                                                               <i class="fa fa-sign-out text-light" style='font-size:17px'></i>
                                                                           <span class='text-light'>Applicants</span>
                                                                       </a>
                                                                   </li>
                                                                  
                                                                  
                           
                                                                   <li class='nav-item pb-3'>
                                                                       <a href='{% url "uslogout"%}' class='nav-link'>
                                                                               <i class="fa fa-sign-out text-light" style='font-size:17px'></i>
                                                                           <span class='text-light'>Logout</span>
                                                                       </a>
                                                                   </li>
                                                                   
                                                            
                                                   </ul>
                                                </div>
                                  </nav>        
                                  </div>
                   </div>
               </div>
            </div>
            
  
            <div class='col-md-10' >
                <div class='row' >
                    <div class='col-md-12' style='height: 90px;'>
                        <div class='row' style='border-bottom:1px solid grey;background:url("{% static 'images/lapi.jpg' %}");background-attachment: fixed;'>
                            <div class='col-md-12 ' style="height:90px;background: rgba(0,0,0,0.5);">
                              <form action="{% url 'job'%}" method="post">
                                {% csrf_token %}
                                    <input type='text' name="jb" class='mt-3'  placeholder='Search....' style="width:400px;height:40px;border:none">
                                    <input type="submit" class="btn" style="background:#5caf01;color:#fff">
                            </form>
                            </div>
                             <!-- <div class='col-md-3 pt-4' style="border-right:1px solid grey;height:90px;background: rgba(0,0,0,0.5);">
                           <div class='row'>
                               <div class='col-md-4 ' style="height:40px;">
                                   <div class='pl-1 pr-5'>
                                <i class="fa fa-envelope " style='font-size:27px;left:20%;color:darkgrey;'></i>
                                <span class='badge position-absolute ' style='background: #FC8213;;color:#fff;top:-10px;left:29px'>3</span>
                  </div>
                               </div>
                               <div class='col-md-4 ' style="height:40px;">
                                    <div class='pl-2 pr-5'>
                                <i class='fa fa-bell' style='font-size:27px;left:20%;color:navy'></i>
                                <span class='badge position-absolute ' style='background:lightblue;color:#fff;top:-12px;left:29px'>3</span>
                  </div>
                            </div>
                            <div class='col-md-4' style="height:40px;" >
                                    <div class='pl-4 pr-5'>
                                <i class='fa fa-tasks' style='font-size:27px;left:20%;color:green'></i>
                                <span class='badge position-absolute ' style='background:red ;;color:#fff;top:-12px;left:52px'>3</span>
                  </div>
                            </div>
                           </div> 
                            </div> -->
                            <!-- <div class='col-md-3 ' style="height:90px;background: rgba(0,0,0,0.5);">
                            
                             <img src="{% static 'images/per1.jpg' %}" height='90px' width='100px' align='right' class='pt-0'> 

                            </div> -->
                        </div>

                    </div>
                </div>
             
                        {% block mybl %}
                        {% endblock %}
                 
                                 
           
 
  </div>
  </div>
  </div>


  
</body>
</html>