<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js'}"></script>
   
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
</head>
<body style="background: #f5f5f5;">
  <div class='container'>
      <div class='row'>
          <div class='col-md-12'>
              <div class='row'>
                  <div class='col-md-8 mt-5' style="border:1px solid #ccc;background:#fff">
                 <h4  class='pt-3' style="font-family: 'Noto Serif', serif;color:#5caf01;font-weight: 400">Database Administrator
                        <span class='float-right pt-2' style="font-family:'Noto Serif',serif;color:grey;font-size: 15px">Company Name</span>
                        </h4>
                        <p style="color:grey;font-family:'Noto Serif',serif;font-size:14px">Date Posted:2019-09-12 02:04:53
                        <span  class='float-right' style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px;font-weight: 600">Sierra</span>
                    </p> <hr>
               <div class='row' style='height:35px'>
                   <div class='col-md-6'>
                       <div class='pl-2 pr-2 '>
                        <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Number of Vacancies: <span  style='color:black'>0</span></p>
                        <hr>
                    </div>
                   </div>
                   
                   <div class='col-md-6'>
                       <div class='pl-2 pr-2' >
                        <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Salary Range: <span  style='color:black'>10,000-35,000</span></p>
                       <hr>
                    </div>
                   </div>
               </div>
               <div class='row pt-2' style='height:35px'>
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Category: <span  style='color:black'>IT & Telecommunication</span></p>
                     <hr>
                 </div>
                </div>
                
                <div class='col-md-6'>
                    <div class='pl-2 pr-2'>
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Job Location: <span  style='color:black'>Chandigarh</span></p>
                    <hr>
                 </div>
                </div>
            </div>
            <div class='row pt-3' style='height:35px'>
                <div class='col-md-6'>
                    <div class='pl-2 pr-2'>
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Working Hours<span  style='color:black'>0</span></p>
                     <hr>
                 </div>
                </div>
                
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Years of Experience: <span  style='color:black'>0-3</span></p>
                    <hr>
                 </div>
                </div>
            </div>
            <div class='row pt-4' style='height:35px'>
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Preferred Age: <span  style='color:black'>23(years)</span></p>
                     <hr>
                 </div>
                </div>
                
                <div class='col-md-6'>
                    <div class='pl-2 pr-2' >
                     <p style="color:#5caf01;font-family:'Noto Serif',serif;font-size:14px">Vacancy Nature: <span  style='color:black'>Full Time</span></p>
                    <hr>
                 </div>
                </div>
            </div>
            <h5 class='pt-5' style="color:#5caf01;font-family:'Noto Serif',serif;font-size:16px;">Description</h5>
            <p style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                    A database is a collection of information that is organized so that it can be easily accessed, managed and updated.Computer databases typically contain aggregations of data records or files, such as sales transactions, product catalogs and inventories, and customer profiles.        
            </p>
        <h5 style="color:#5caf01;font-family:'Noto Serif',serif;font-size:17px">Skills Required:</h5>   
        <p><ol>
            <li><span style="color:#5caf01;font-weight: 500">Organization Skills</span> 
                 <span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                        Database administrators must have strong organization skills to manage large databases. Well-organized data makes access easier for users and improves database performance. 
            </span></li>
                
            <li class='pt-2'><span style="color:#5caf01;font-weight: 500">Technical Skills</span> 
                <span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                        A database administrator must have a high level of technical skill to work with the computers that house data. DBAs must understand how computers store and retrieve data, and how to build computer databases.
                        </span>
                    </li>
            <li class='pt-2'><span style="color:#5caf01;font-weight: 500">Interpersonal Skills </span>
                <span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                        DBAs must work with a variety of people in an organization, relying on good communication skills to provide database help. On the technical side, DBAs must communicate with programmers and systems technicians to ensure that applications access a database properly. 
                </span> </li>
            <li class='pt-2'><span style="color:#5caf01;font-weight: 500">Reading and Writing Skills</span>
                <span style="color:grey;font-family:'Noto Serif',serif;font-size:15px">
                        Database administrators must be able to write well. DBAs must write recommendations and documentation, among other things, and they must be able to communicate the major points well to the proper audience.
          </span>  </li>
            
        </ol>
            <hr>
            <p class='pl-4 pt-3' style="color:grey;font-family:'Noto Serif',serif;font-size:14px">Job deadline: 2019-10-06</p>
            
           </div>
                  <div class='col-md-4 mt-5'>
                      <img src="{% static 'images/dbase1.jpg' %}" width='400px' height='300px'>
                  </div>
                  
              </div>
             
          </div>
      </div>
     
  </div>  
</body>
</html>