{% extends "dashstu.html" %}
{% load staticfiles %}
{% block dem %}
    <section  class='mt-3' style='background:url("{% static 'images/lapi.jpg' %}");background-attachment: fixed;'> 
        <h1 class='text-center text-light pt-5 pb-4 ' style="background: rgba(0,0,0,0.5);font-family: 'poppins',sans-serif;font-weight: 600;font-size:42px">Edit Profile</h1>
         </section>
         {% if status %}
         <script> 
         alert('{{status}}') 
         </script>  
           {% endif %}
         <div class='container'>
             <div class='row'>
                 <div class='col-md-3'>
                     <div class='pl-2 pr-2 pt-5' >
                        
                    <p class='pt-3' style="color:grey;font-size:15px"><a id='bs'  style='color:grey'>Basic Information</a></p>
                    <hr>
                    <p class='pt-3' style="color:grey;font-size:15px"><a id='ed' style='color:grey'>Education and Work</a></p>
                    <hr>
                    <p class='pt-3' style="color:grey;font-size:15px"><a style='color:grey'>My Interest</a></p>
                    <hr>
                    <p class='pt-3' style="color:grey;font-size:15px"><a  style='color:grey'>Account Settings</a></p>
                    <hr>
                    <p class='pt-3' style="color:grey;font-size:15px"><a  style='color:grey;' >Change Password</a></p>
                <hr>    
                </div>
                 </div>
                 
                
             

                <div class='col-md-6 pt-3' >
                        <form method='POST'>
                                {% csrf_token %}
                    <div class='pl-2 pr-2 pt-4' >
                        <span>

<span  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">Edit Basic Information</span>
               
                        </span>
                    <hr>  
                <div class='row pt-1'>
                    <div class='col-md-6'>
                        <p  class='pt-2' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">First Name</p>
<input type='text' class='form-control' placeholder="First Name" name='fn' value="{{profile.user.first_name}}" >
                    </div>
                    <div class='col-md-6'>
                        <p  class='pt-2' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">Last Name</p>
   <input type='text' class='form-control' placeholder="Last Name" name='ln' value="{{profile.user.last_name}}">
                    </div>
                </div>
                <p  class='pt-3' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">My Email</p>
                <input type='text' placeholder="My Email" class='form-control' name='em' value="{{profile.user.email}}">
                 <p  class='pt-3' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">Date Of Birth</p>
                <input type='date' class='form-control' name='dob' value="{{profile.Date_Of_Birth}}">
                <br> 
              <span style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">I am a:</span>
               <span class='radio-inline pl-2' >
                    <input type='radio'  name='gn' checked>Male
                    <input type='radio' name='gn'>Female
                </span>
                <div class='row pt-3'>
                    <div class='col-md-6'>
                        <p  class='pt-1' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">My City</p>
<input type='text' class='form-control' placeholder="My City" name='mc' value="{{profile.City}}" >
                    </div>
                    <div class='col-md-6'>
                        <p  class='pt-1' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">My Country</p>
   <input type='text' class='form-control' placeholder="My Country" name='mcon' value="{{profile.country}}">
   <input type='file' name='sim' class='pt-3 '>
   
                    </div>
                </div>
               <button class='btn btn-block mt-4 ' style='background: #5caf01;color:#fff;border-radius:10px'>Save Changes</button>
                </div>
                </div>

                <div class='col-md-6 pt-3' id='b3' style="display:none" >
                    <div class='pl-2 pr-2 pt-4' >
                        <span>

<span  class='pl-1 ' style="font-size:17px; font-family: 'poppins',sans-serif;color:#5caf01;font-weight:200">My Education</span>
               
                        </span>
                    <hr>  
                <p style='font-size:15px;color:grey'>I done my schooling from Himalyan Public Sr. Sec School.After that i done BCA fromD.A.V. College Kangra and now i am pursuing MCA from Govt.P.G.College Dharamshala</p> 
                <hr>
                <p  class='pt-2' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">My University</p>
<input type='text' placeholder="Himachal Pradesh University" class='form-control'>
                <div class='row pt-3'>
                    <div class='col-md-6'>
                        <p  class='pt-2' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">From</p>
<input type='text' class='form-control' placeholder="2014">
                    </div>
                    <div class='col-md-6'>
                        <p  class='pt-2' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">To</p>
   <input type='text' class='form-control' placeholder="2019">
                    </div>
                </div>
                <p  class='pt-3' style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">Description</p>
   <textarea class='form-control' rows='4'></textarea>
   <br>
   <span  style="font-size:15px; font-family: 'poppins',sans-serif;font-weight: 200;color:#5caf01 ">Graduated?:
   </span>
    <span><input type='checkbox'>Yes!!
</span>
   
                <button class='btn btn-block mt-3' style='background: #5caf01;color:#fff;border-radius:10px'>Update Password</button>
                </div>
                </div>
                
               
             </div>
         </div>  
         
         <!-- <div class='container pt-2 px-0'>
                <div class='row ' style='background: #222a35'>
                        <div class='col-md-4 pt-5'>
                                <div class='pb-2 '>
                                        <h6 style="font-size:20px;color:#fff;font-family: 'poppins','sans-serif';font-weight:500">
                                            Project</h6>
            <p class='pt-4' style="color:#fff;font-family: 'poppins','sans-serif';font-weight: 400">
            Campus Recruitment  project manage all the details of  college students, various companies visiting  the campus for recruitment and even the college placement officer
            </p>
                                </div>
                            </div>
                            <div class='col-md-3 pt-5 mx-auto'>
                                    <div class='pb-2' >
                                            <h6 style="font-size:20px;color:#fff;font-family: 'poppins','sans-serif';font-weight:500">Follow Us</h6>
                                 <p class='pt-4'> <span><i class='fa fa-facebook' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Facebook.com</span></span></p>
                                 <p > <span><i class='fa fa-twitter' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Twitter.com</span></span></p>
                                 <p > <span><i class='fa fa-youtube' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Youtube.com</span></span></p>
                                 <p > <span><i class='fa fa-instagram' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Instagram.com</span></span></p>
                                 <p > <span><i class='fa fa-linkedin' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Linkedin.com</span></span></p>
                                 <p > <span><i class='fa fa-telegram' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Telegram.com</span></span></p>
                                           
                                </div>
                                </div>
                                <div class='col-md-4 pt-5'>
                                        <div class='pb-2' >
                                                <h6 style="font-size:20px;color:#fff;font-family: 'poppins','sans-serif';font-weight:500">Contact Us</h6>
                                   <p class='pt-4'><span><i class="fa fa-map-marker" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px"> Plot No, 11-A, Cellulosics Rd, Industrial Area, Sector 58, Sahibzada Ajit Singh Nagar, Punjab 160055
                                    </span> </p>     
                                   <p><span><i class="fa fa-phone" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Tel: +9814327862</span> </p>     
                                   <p><span><i class="fa fa-fax" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Fax:2233-1543-6547-8976</span> </p>     
                                   <p><span><i class="fa fa-envelope" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">sachtech14@gmail.com</span> </p>     
                                   </div>
                                </div>
                    
                
                            <div class='col-md-12 pt-3' style='background:rgba(0,0,0,0.5)'>
                                <h6 class='text-center' style="font-size:15px;color:#fff;font-family: 'poppins','sans-serif'">&copy;2019 Campus Copyright</h6>
                            </div>
                           
                </div>
                </div> -->


{% endblock %}