<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js'}"></script>
   
     <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
</head>
<body style="background: #f5f5f5;">
  <div class='container'>
      <div class='row'>
          <div class='col-md-12'>
              <div class='row'>
                  <div class='col-md-8 mt-5' style="border:1px solid #ccc;background:#fff">
                 <h4  class='pt-3' style="font-family: 'Noto Serif', serif;color:#5caf01;font-weight: 500">{{compdescription.user.first_name}}</h4>
                   <p class='pt-2' style="font-family: 'Noto Serif', serif;color:#5caf01;font-size:15px;font-weight: 400">About Company</p>
         <p style="font-family: 'Noto Serif', serif;color:grey;font-size:15px;">
           {{compdescription.about}}
        </p>
        <p class='pt-2' style="font-family: 'Noto Serif', serif;color:#5caf01;font-size:15px;font-weight: 500">Company Services</p>
        <p style="font-family: 'Noto Serif', serif;color:grey;font-size:15px;">
            <ol>
               {% for i in tech %}
                <li>{{i}}</li>
               {% endfor %}
            </ol>
          </p>
          <p class='pt-2' style="font-family: 'Noto Serif', serif;color:#5caf01;font-size:15px;font-weight: 400">Head Office</p>
          <p style="font-family: 'Noto Serif', serif;color:grey;font-size:15px;">
         {{compdescription.headoffice}}
                        </p>
      


           </div>
                  <div class='col-md-4 mt-5' >
                      <img src="/media/{{compdescription.profile_pic}}" width='365px' height='250px'>
                      <div class='row pl-3 pt-5'>
                          <div class='col-md-12' style='border:1px solid #ccc;background: #fff;height:260px'>
                        <h5 style="font-family: 'Noto Serif', serif;color:#5caf01;">Contact Information</h5>
                      <p class='pt-4'> 
                          <i class='fa fa-envelope ' style='color:#5caf01;font-size: 18px'></i>
                          <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">{{compdescription.user.email}}</span>
                      </p>
                      <p > 
                        <i class='fa fa-phone ' style='color:#5caf01;font-size: 18px'></i>
                        <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">{{compdescription.Contact_No}}</span>
                      </p>
                    <p > 
                        <i class='fa fa-globe ' style='color:#5caf01;font-size: 18px'></i>
                        <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">{{compdescription.Web}}</span>
                    </p>
                   
                    <p > 
                        <i class='fa fa-map-marker ' style='color:#5caf01;font-size: 18px'></i>
                        <span  class='pl-2' style="font-family: 'Noto Serif', serif;color:grey;font-size: 15px">{{compdescription.Address}}</span>
                    </p>

                        </div>
                      </div>
                  </div>
                  
              </div>
             
          </div>
      </div>
  </div>
 <div class='container-fluid'>
    <div class='row pt-5 ' >
        <div class='col-md-12'>
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.3893880477135!2d76.72346451461016!3d30.70745189390275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fef5be4bd1c49%3A0xe6d94d292fb336f3!2sCompany+Solutions!5e0!3m2!1sen!2sin!4v1555480636234!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
 </div>
     
   
</body>
</html>