<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Students|Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script  src="{% static 'jquery/jquery.js'%}"></script>
    <script  src="{% static 'js/bootstrap.min.js'%}"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
<div class="container-fluid">
        <div class="row">
          <div class="col-md-6 mx-auto shadow-lg">
            <p style="font-size:25px; font-family: 'Noto Serif', serif;color:#5caf01;" class= 'py-5'> 
              Hello <strong >{{user.username}}</strong> Here is your quiz result</p>
            <div class="card shadow-lg " >
              <div class="card-head text-center pt-3">
                <img src="{{img}}" alt="No Image"  style='height:150px; width:200px;' class='card-img'/>
              </div>
              <div class="card-body" >
                <h5 class='py-3 text-center ' style="font-family:'Noto Serif', serif;color:grey">{{st}}</h5>
                <table class='table'>
                  <tbody>
                    <tr>
                      <th>Number of questions</th>
                      <td>{{tq}}</td>
                    </tr><tr>
                      <th>Total Marks</th>
                      <td>{{total}}</td>
                    </tr><tr>
                      <th>Marks obtained</th>
                      <td>{{secured}}</td>
                    </tr><tr>
                      <th>Percentage</th>
                      <td>{{percentage}} <span>%</span> 
                        
                    </tr><tr>
                      <th>Result</th>
                      <td>{{rs}}</td>
                    </tr>
                  </tbody>
                </table>
                {% if ap %}
                <form method="post">
                  {% csrf_token %}
                  <a href="{% url 'seeresult'%}?id={{p}}&&cmid={{c}}" class='btn btn-control' style="background:#5caf01;color:white"> Proceed To Apply !!!</a>
                  
                </form>
                {% else %}
                  <a href="{% url 'dashstu' %}"><button type="button" name="button" class='btn btn-danger'>
                      Go To Homepage</button></a>
                      {% endif %}
              </div>  
            </div> 
        </div> 
    </div> 
</div>  
</body>
</html>
            
      
