<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>
#d1:hover
{
    background:  #222a35;
    position:fixed;
    
}
a:hover
{
    text-decoration: none;
    /* color: inherit; */
  
}

#b1:hover{
    background: #fff;
    color:grey !important;
  
}

#b2:hover{
    background: #fff;
    color:grey;
}
#b3:hover{
    background: #fff;
    color:grey;
}
#b4:hover{
    background: #fff;
    color:grey;
}
#b5:hover{
    background: #fff;
    color:grey;
}
#b6:hover{
    background: #fff;
    color:grey;
}
#b7:hover{
    background: #fff;
    color:grey;
}
#b8:hover{
    background: #fff;
    color:grey;
}
#b9:hover{
    background: #fff;
    color:grey;
}
#b10:hover{
    background: #fff;
    color:grey;
}
#b11:hover{
    background: #fff;
    color:grey;
}

/* #hover_text:hover{
    color:black;
} */

/* #b1:hover {
    color:grey !important;
} */


#b12:hover{
    background: #fff;
    color:grey;
}
#b13:hover{
    background: #fff;
    color:grey;
}
.a1:hover{
    text-decoration-color: #5caf01;
}
.a2:hover{
    text-decoration-color: #5caf01;
}
.a3:hover{
    text-decoration-color: #5caf01;
}
#p1:hover{
    border:1px solid #ccc;
}
#p2:hover{
    border:1px solid #ccc;
}
#p3:hover{
    border:1px solid #ccc;
}
#p4:hover{
    border:1px solid #ccc;
}
#p5:hover{
    border:1px solid #ccc;
}
#p6:hover{
    border:1px solid #ccc;
}
.flip-box {
 
  border:1px solid #ccc;
  height:450px;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.flip-box-back {
  background:#222a35;
  color: white;
  transform: rotateY(180deg);
}
.fixed-top.scrolled {
  background:#222a35 !important;
  transition: background-color 200ms linear;
}
.header{
    background:url("{% static 'images/univ.jpg' %}");
}
.navbar
{
  background:transparent;  
}
    </style>
{% block mydemo %}
{% endblock %}
</head>
<body >
   
   <div class='container-fluid header' >
       <div class='row pt-4 pb-3' style='background: rgba(0,0,0,0.8);'>
        <div class='col-md-12 pt-3 pb-3'   style='border-bottom:1px solid #fff;' >
                        <nav class='navbar navbar-expand-lg  navbar-dark fixed-top justify-content-center'  >
                            <a href="" class='navbar-brand '>
                                <img  src="{% static 'images/cam.png' %}" width='70px' height='40px'>
                            </a>
                                <button class='navbar-toggler' data-toggle='collapse' data-target='#mynav'>
                                        <span class='navbar-toggler-icon'></span>
                                    </button>
                                <div id='mynav' class='collapse navbar-collapse'>
                                        <ul class='navbar-nav mx-auto'>
                                              <li class='nav-item mr-3' >
                                                  <a href="{% url 'home' %}" class='nav-link' style='color:#5caf01;font-size: 16px;font-family: "poppins", sans-serif;
                                                  font-weight: 500;'>Home</a>
                                              </li>
                                              <li class='nav-item mr-3'>
                                                <a href="{% url 'about' %}" class='nav-link' style='color:#fff;font-size: 16px;font-family: "poppins", sans-serif;
                                                font-weight: 500;' >AboutUs</a>
                                              </li>
                                              <li class='nav-item  mr-3'>
                                                    <a href="{% url 'contact' %}" class='nav-link' style='color:#fff;font-size: 16px;font-family: "poppins", sans-serif;
                                                    font-weight: 500;' >Contact</a>
                                                   </li>
                                                   
                                                   <li class='nav-item ml-5'>
                                                        <span class='nav-link pl-5'>
                                                            <i class='fa fa-sign-in text-light' style='font-size: 18px;'></i>
                                                    <a href="{% url 'signup' %}" class='' style='color:#fff;font-size: 16px;font-family: "poppins", sans-serif;
                                                    font-weight: 500;'>SignUp</a>
                                                        </span>
                                                   </li>
                                    
                                            <li class='nav-item' style='margin-right:0px;'>
                                                    <span class='nav-link pl-5'>
                                                <i class='fa fa-user text-light' style='font-size:18px'></i>
                                                <a href="{% url 'login' %}" class='' style='color:#fff;font-size: 16px;font-family: "poppins", sans-serif;
                                                font-weight: 500;'>Login</a>
                                                </span>
                                            </li>
                                              
                                          </ul> 
                                        </div>
                                       </nav>
                                      
                </div>
</div>
{% block myd %}
<div class='row' style='background: rgba(0,0,0,0.8);'> 
    
    <div class='col-md-7 pl-5 py-5 '>
        <h6 style="font-size: 20px;font-family: 'poppins',sans-serif;font-weight: 400; letter-spacing:2px;word-break: break-word;color:#fff">Knowing Yourself is the beginning of all wisdom</h6>
        <h1 class='display-5 pt-4' style="font-weight:bold;letter-spacing: 2px;font-family: 'poppins',sans-serif;color:#fff;">In Recruiting, there are no good <br>or bad experience-just learning Experiences!!! </h1>
        <h6  class='pt-4 pb-4' style="font-size: 18px;font-family: 'poppins',sans-serif;font-weight: 400; letter-spacing:2px;word-break: break-word;color:#fff">Your dream jobs are waiting!!!!</h6>
        <form method="POST">
        {% csrf_token %}
        <div class='row'>
            <div class='col-md-8'>
                    <input type='text' class='form-control text-light' name='jb' style='height:50px;background: transparent'>
           </div>
            <div class='col-md-4'>
                    <input type='submit' class='btn text-light btn-block btn-control'  value='Search Jobs' name='sr' style='background: #5caf01;font-weight:400;font-size: 20px;'>
            </div>
           
        </div>
    </form>
    </div>
    <div class='col-md-5 text-light pl-5 pb-5'>
            <div class='row'>
<div class='col-md-3 text-center ml-2 mr-2 mt-2 mb-2'  id='b1' style='border:1px solid #fff;border-radius:10px;'>
        <a href="{% url 'civi' %}" > 
     <i class='fas fa-user-circle  pt-3' style='font-size:25px;color:#5caf01'></i>
<p style='color:#fff' >Civil Engineer</p>
</a>
</div>
<div class='col-md-3 text-center  ml-2 mr-2 mt-2 mb-2'  id='b2' style='border:1px solid #fff;border-radius:10px'>
        <i class='fas fa-chalkboard-teacher  pt-3' style='font-size:25px;color:#5caf01'></i>
        <p>System Administrator</p>
        </div>
        <div class='col-md-3 text-center  ml-2 mr-2 mt-2 mb-2' id='b3' style='border:1px solid #fff;border-radius:10px'>
                <i class='	fas fa-palette  pt-3' style='font-size:25px;color:#5caf01'></i>
                <p>Web Designer</p>
                </div>
                <div class='col-md-3 text-center  ml-2 mr-2 mt-2 mb-2' id='b4' style='border:1px solid  #fff;border-radius:10px'>
                        <i class='fab fa-python  pt-3' style='font-size:25px;color:#5caf01'></i>
                        <p>Python Developer</p>
                        </div>
                        <div class='col-md-3 text-center  ml-2 mr-2 mt-2 mb-2' id='b5' style='border:1px solid #fff;border-radius:10px'>
                                <i class='fab fa-android  pt-3' style='font-size:25px;color:#5caf01'></i>
                                <p>Android Developer</p>
                                </div>
                        <div class='col-md-3 text-center  ml-2 mr-2 mt-2 mb-2' id='b6' style='border:1px solid #fff;border-radius:10px'>
                        <i class='fas fa-sitemap  pt-3' style='font-size:25px;color:#5caf01'></i>
                        <p>Networking</p>
                        </div>
                        <div class='col-md-3 text-center  ml-2 mr-2 mt-2 mb-2'  id='b7' style='border:1px solid #fff;border-radius:10px'>
                                <i class='fas fa-globe  pt-3' style='font-size:25px;color:#5caf01'></i>
                                <p>Business Assistant</p>
                                </div>
                                <div class='col-md-3 text-center  ml-2 mr-2 mt-2 mb-2' id='b8' style='border:1px solid #fff;border-radius:10px'>
                                        <i class="fa fa-file  pt-3" style='font-size:25px;color:#5caf01'></i>
                                        <p>Accountacy</p>
                                        </div>
                                        <div class='col-md-3 text-center  ml-2 mr-2 mt-2 mb-2' id='b9' style='border:1px solid #fff;border-radius:10px'>
                                                <i class='fa fa-group  pt-3' style='font-size:25px;color:#5caf01'></i>
                                                <p>Project Manager</p>
                                                </div>
                                                <div class='col-md-3 text-center  ml-2 mr-2 mt-2 mb-2' id='b10' style='border:1px solid #fff;border-radius:10px'>
                                                        <i class='fas fa-user-md  pt-3' style='font-size:25px;color:#5caf01'></i>
                                                        <p>Medical</p>
                                                        </div>
                                                        <div class='col-md-3 text-center  ml-2 mr-2 mt-2 mb-2' id='b11' style='border:1px solid #fff;border-radius:10px'>
                                                                <i class='fas fa-database  pt-3' style='font-size:25px;color:#5caf01'></i>
                                                                <p>Database Manager</p>
                                                                </div>
                                                                <div class='col-md-3 text-center  ml-2 mr-2 mt-2 mb-2' id='b12' style='border:1px solid #fff;border-radius:10px'>
                                                                        <i class='fas fa-flask pt-3' style='font-size:25px;color:#5caf01'></i>
                                                                        <p>Science</p>
                                                                                                                                   </div>
 </div>

</div> 

</div>

<div class='row' style='background: #5caf01;color:#fff'>
    <div class='col-md-4 text-center' >
        <i class='fa fa-building-o pt-4 ' style='font-size:35px;color:#fff'></i>
<span  class='pt-4 pl-2' style="font-size: 20px;font-family: 'poppins',sans-serif;font-weight: 400;word-break: break-word;">1000+ Companies</span>
<p class='pt-2'>There are 1000+ companies to hire employees</p>    
</div>
    <div class='col-md-4 text-center'>
            <i class='fa fa-tasks pt-4 ' style='font-size:35px;color:#fff'></i>
       <span class='pt-4 pl-2' style="font-size: 20px;font-family: 'poppins',sans-serif;font-weight: 400; word-break: break-word;">Vacancies</span>
    <p class='pt-2'>A large number of job vacancies are available</p>
    </div>
    <div class='col-md-4 text-center'>
            <i class='fas fa-users pt-4 ' style='font-size:35px;color:#fff'></i>
        <span class='pt-4 pl-2' style="font-size: 20px;font-family: 'poppins',sans-serif;font-weight: 400;word-break: break-word;">Candidates</span>
    <p class='pt-2'>Candidates are just require to login them so as to update them with latest jobs.</p>
    </div>
</div>
<div class='row pt-4' style='background: #fff'>
<div class='col-md-12 text-center'>
    <h1 class='pt-4' style="font-weight:bold;letter-spacing: 2px;font-family: 'poppins',sans-serif;font-size:50px;color:#222a35">Recent Vacancy</h1>
<div class='row'>
    <div class='col-md-8 mx-auto'>
        <div class='row pt-3 pb-3'>
            <div class='col-md-2' >
                    <a href="" style='color:#222a35;text-decoration: underline;text-decoration-color: #5caf01;font-weight: 600'>Trending Now</a>
            </div>
        
        <div class='col-md-2' id='a2'>
                <a  class='a1' href="" style='color:grey;font-weight: 600'>Most Popular</a>
        </div>
   
            <div class='col-md-2' id='a3'>
                    <a  class='a2' href="" style='color:grey;font-weight: 600'>Most Recent</a>  
            </div>
                <div class='col-md-2' id='a4'>
                        <a   class='a3' href="" style='color:grey;font-weight: 600'>Most Certified</a>     
                </div>
            </div>
    </div>
</div>
</div>
</div>

<div class='row pt-3' style="background:#fff">
    {% for i in all %}
    <div class='col-md-4 mb-3' >
            <div class="flip-box" >
                    <div class="flip-box-inner">
                      <div class="flip-box-front ">
                    <img src="/media/{{i.profile_pic}}"   style="width:413px;height:200px;border-radius:5px">
                         <h6  class='pt-4 text-center pl-3' style="font-family: 'poppins',sans-serif;font-weight: 600; word-break: break-word;color:#222a35">
                           {{i.description}}
                        </h6>
                                <span>
                                    <div class='pl-3 pt-3 text-center'>
                                    <i class="fa fa-star-o " style="font-size:20px;color:#5caf01"></i>
                                    <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                                    <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                                    <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                                    <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                                    </div>
                                </span>
                                <span><button class='btn mt-5 ml-5 btn-control' style='border:1px  solid #5caf01;'><span style='color:grey;font-weight: 400;font-size: 18px'>{{i.city}}</span></button> </span>
                                <button class='btn mt-5 ml-5 btn-control' style='border:1px solid #5caf01'><span style='color:grey;font-weight: 400;font-size: 18px'>{{i.experience}}</span></button>
                            </div>
                     <div class="flip-box-back">
                        <h2  class='pt-4 text-center pl-3' style="font-size:20px;font-family: 'poppins',sans-serif;font-weight: 300; word-break: break-word;color:#fff">
                        {{i.description}}
                        </h2>
                     
                    <h6 class='pt-5' style="font-size:15px;font-family: 'poppins',sans-serif">
                        {{i.requirements}}
                    </h6>
                    <span>
                        <div class='pl-3 pt-5 text-center'>
                        <i class="fa fa-star-o " style="font-size:20px;color:#5caf01"></i>
                        <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                        <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                        <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                        <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                        </div>
                    </span>
              <div class='row pt-2'>
                  <div class='col-md-4 mx-auto'>
                    <button class='btn mt-3 ' style="background:#5caf01;color:#ffff;font-weight: 400;font-size: 18px">Start Now</button>
                  </div>
              </div>
                    <span ><button class='btn mt-5 ml-5 btn-control' style='border:1px  solid #5caf01;'><span style='color:#fff;font-weight: 400;font-size: 18px'>
                       {{i.city}}
                    </span></button> </span>
                    <button class='btn mt-5 ml-5 btn-control' style='border:1px solid #5caf01'><span style='color:#fff;font-weight: 400;font-size: 18px'>
                        {{i.experience}}</span></button>
                
                    </div>
                   </div>
        </div>
    </div>
    {% endfor %}
   
</div>
<!--
    <div class='col-md-4' >
        <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front ">
                <img src="{% static 'images/person5.jpg' %}" style="width:417px;height:200px;border-radius:5px">
                     <h6  class='pt-4 text-center pl-3' style="font-family: 'poppins',sans-serif;font-weight: 600; word-break: break-word;color:#222a35">
                    {{i.description}}    
                    </h6>
                            <span>
                                <div class='pl-3 pt-3 text-center'>
                                <i class="fa fa-star-o " style="font-size:20px;color:#5caf01"></i>
                                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                                </div>
                            </span>
                            <span><button class='btn mt-5 ml-5 btn-control' style='border:1px  solid #5caf01;'><span style='color:grey;font-weight: 400;font-size: 18px'>Languages</span></button> </span>
                            <button class='btn mt-5 ml-5 btn-control' style='border:1px solid #5caf01'><span style='color:grey;font-weight: 400;font-size: 18px'>Logics</span></button>
                        </div>
                 <div class="flip-box-back">
                    <h2  class='pt-4 text-center pl-3' style="font-size:20px;font-family: 'poppins',sans-serif;font-weight: 300; word-break: break-word;color:#fff"> A Software Engineer who has analytical and problem solvinng skills.  </h2>
                 
                <h6 class='pt-3' style="font-size:15px;font-family: 'poppins',sans-serif">
                    Software engineers create software and systems for computers. They employ techniques of math, science, engineering, and design, and often have to test and evaluate their own systems as well as software built by other people.    
                </h6>
                <span>
                    <div class='pl-3 pt-5 text-center'>
                    <i class="fa fa-star-o " style="font-size:20px;color:#5caf01"></i>
                    <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                    <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                    <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                    <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                    </div>
                </span>
          <div class='row pt-2'>
              <div class='col-md-4 mx-auto'>
                <button class='btn mt-3 ' style="background:#5caf01;color:#ffff;font-weight: 400;font-size: 18px">Start Now</button>
              </div>
          </div>
                <span ><button class='btn mt-5 ml-5 btn-control' style='border:1px  solid #5caf01;'><span style='color:#fff;font-weight: 400;font-size: 18px'>Languages</span></button> </span>
                <button class='btn mt-5 ml-5 btn-control' style='border:1px solid #5caf01'><span style='color:#fff;font-weight: 400;font-size: 18px'>Logics</span></button>
            
                </div>
               </div>
    </div>
</div>

<div class='col-md-4' >
    <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front ">
            <img src="{% static 'images/person2.jpeg' %}" style="width:417px;height:200px;border-radius:5px">
                 <h6  class='pt-4 text-center pl-3' style="font-family: 'poppins',sans-serif;font-weight: 600; word-break: break-word;color:#222a35">
                    {{i.description}}</h6>
                        <span>
                            <div class='pl-3 pt-3 text-center'>
                            <i class="fa fa-star-o " style="font-size:20px;color:#5caf01"></i>
                            <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                            <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                            <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                            <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                            </div>
                        </span>
                        <span><button class='btn mt-5 ml-5 btn-control' style='border:1px  solid #5caf01;'><span style='color:grey;font-weight: 400;font-size: 18px'>Network</span></button> </span>
                        <button class='btn mt-5 ml-5 btn-control' style='border:1px solid #5caf01'><span style='color:grey;font-weight: 400;font-size: 18px'>Hardware</span></button>
                    </div>
             <div class="flip-box-back">
                <h2  class='pt-4 text-center pl-3' style="font-size:20px;font-family: 'poppins',sans-serif;font-weight: 300; word-break: break-word;color:#fff">
                Network Engineer who develop,set up and maintain a network.
                </h2>
             
            <h6 class='pt-3' style="font-size:15px;font-family: 'poppins',sans-serif">
                Network engineers may work internally as part of an organisation's IT support team, or externally as part of an outsourced IT networking consultancy firm working with a number of clients.
            </h6>
            <span>
                <div class='pl-3 pt-5 text-center'>
                <i class="fa fa-star-o " style="font-size:20px;color:#5caf01"></i>
                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                </div>
            </span>
      <div class='row pt-2'>
          <div class='col-md-4 mx-auto'>
            <button class='btn mt-3 ' style="background:#5caf01;color:#ffff;font-weight: 400;font-size: 18px">Start Now</button>
          </div>
      </div>
            <span ><button class='btn mt-5 ml-5 btn-control' style='border:1px  solid #5caf01;'><span style='color:#fff;font-weight: 400;font-size: 18px'>Network</span></button> </span>
            <button class='btn mt-5 ml-5 btn-control' style='border:1px solid #5caf01'><span style='color:#fff;font-weight: 400;font-size: 18px'>Hardware</span></button>
             </div>
            </div>
           </div>
</div>

</div>
<div class='row pt-3 pb-5' style='background: #fff'>
<div class='col-md-4' >
    <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front ">
            <img src="{% static 'images/person10.jpg' %}" style="width:417px;height:200px;border-radius:5px">
                 <h6  class='pt-4 text-center pl-3' style="font-family: 'poppins',sans-serif;font-weight: 600; word-break: break-word;color:#222a35">Machine Learning is study of algorithms. </h6>
                        <span>
                            <div class='pl-3 pt-3 text-center'>
                            <i class="fa fa-star-o " style="font-size:20px;color:#5caf01"></i>
                            <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                            <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                            <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                            <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                            </div>
                        </span>
                        <span><button class='btn mt-5 ml-5 btn-control' style='border:1px  solid #5caf01;'><span style='color:grey;font-weight: 400;font-size: 18px'>Reconginition</span></button> </span>
                        <button class='btn mt-5 ml-5 btn-control' style='border:1px solid #5caf01'><span style='color:grey;font-weight: 400;font-size: 18px'>Prediction</span></button>
                    </div>
             <div class="flip-box-back">
                <h2  class='pt-4 text-center pl-3' style="font-size:20px;font-family: 'poppins',sans-serif;font-weight: 300; word-break: break-word;color:#fff">Machine Learning is the study of alogrithms.</h2>
             
            <h6 class='pt-3' style="font-size:15px;font-family: 'poppins',sans-serif">
              Machine Learning is usually associated with Artificial Intelligence (AI) that provides computers with the ability to do certain tasks, such as recognition, diagnosis, planning, robot control, prediction, etc., without being explicitly programmed.
            </h6>
            <span>
                <div class='pl-3 pt-5 text-center'>
                <i class="fa fa-star-o " style="font-size:20px;color:#5caf01"></i>
                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                </div>
            </span>
      <div class='row pt-2'>
          <div class='col-md-4 mx-auto'>
            <button class='btn mt-3 ' style="background:#5caf01;color:#ffff;font-weight: 400;font-size: 18px">Start Now</button>
          </div>
      </div>
            <span ><button class='btn mt-5 ml-5 btn-control' style='border:1px  solid #5caf01;'><span style='color:#fff;font-weight: 400;font-size: 18px'>Recognition</span></button> </span>
            <button class='btn mt-5 ml-5 btn-control' style='border:1px solid #5caf01'><span style='color:#fff;font-weight: 400;font-size: 18px'>Prediction</span></button>
        
            </div>
           </div>
</div>
</div>
<div class='col-md-4' >
    <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front ">
            <img src="{% static 'images/person9.jpeg' %}" style="width:417px;height:200px;border-radius:5px">
                 <h6  class='pt-4 text-center pl-3' style="font-family: 'poppins',sans-serif;font-weight: 600; word-break: break-word;color:#222a35">Medical Assistant, deals with the patients.</h6>
                        <span>
                            <div class='pl-3 pt-3 text-center'>
                            <i class="fa fa-star-o " style="font-size:20px;color:#5caf01"></i>
                            <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                            <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                            <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                            <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                            </div>
                        </span>
                        <span><button class='btn mt-5 ml-5 btn-control' style='border:1px  solid #5caf01;'><span style='color:grey;font-weight: 400;font-size: 18px'>Listener</span></button> </span>
                        <button class='btn mt-5 ml-5 btn-control' style='border:1px solid #5caf01'><span style='color:grey;font-weight: 400;font-size: 18px'>Adaptable</span></button>
                    </div>
             <div class="flip-box-back">
                <h2  class='pt-4 text-center pl-3' style="font-size:20px;font-family: 'poppins',sans-serif;font-weight: 300; word-break: break-word;color:#fff">Medical Assistant,deals with the patient.</h2>
             
            <h6 class='pt-3' style="font-size:15px;font-family: 'poppins',sans-serif">
                Medical assistants work alongside doctors performing a wide variety of tasks including helping patients, performing minor procedures, and various administrative work.
            </h6>
            <span>
                <div class='pl-3 pt-5 text-center'>
                <i class="fa fa-star-o " style="font-size:20px;color:#5caf01"></i>
                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                </div>
            </span>
      <div class='row pt-2'>
          <div class='col-md-4 mx-auto'>
            <button class='btn mt-3 ' style="background:#5caf01;color:#ffff;font-weight: 400;font-size: 18px">Start Now</button>
          </div>
      </div>
            <span ><button class='btn mt-5 ml-5 btn-control' style='border:1px  solid #5caf01;'><span style='color:#fff;font-weight: 400;font-size: 18px'>Listener</span></button> </span>
            <button class='btn mt-5 ml-5 btn-control' style='border:1px solid #5caf01'><span style='color:#fff;font-weight: 400;font-size: 18px'>Adaptable</span></button>
        
            </div>
           </div>
</div>
</div>
<div class='col-md-4' >
    <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front ">
            <img src="{% static 'images/person8.jpg' %}" style="width:417px;height:200px;border-radius:5px">
                 <h6  class='pt-4 text-center pl-3' style="font-family: 'poppins',sans-serif;font-weight: 600; word-break: break-word;color:#222a35">A Database Manager who manaages database. </h6>
                        <span>
                            <div class='pl-3 pt-3 text-center'>
                            <i class="fa fa-star-o " style="font-size:20px;color:#5caf01"></i>
                            <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                            <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                            <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                            <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                            </div>
                        </span>
                        <span><button class='btn mt-5 ml-5 btn-control' style='border:1px  solid #5caf01;'><span style='color:grey;font-weight: 400;font-size: 18px'>Database</span></button> </span>
                        <button class='btn mt-5 ml-5 btn-control' style='border:1px solid #5caf01'><span style='color:grey;font-weight: 400;font-size: 18px'>Server</span></button>
                    </div>
             <div class="flip-box-back">
                <h2  class='pt-4 text-center pl-3' style="font-size:20px;font-family: 'poppins',sans-serif;font-weight: 300; word-break: break-word;color:#fff">A Database Manager who manages databse.</h2>
             
            <h6 class='pt-3' style="font-size:15px;font-family: 'poppins',sans-serif">
            A Database managers have several capabilities including the ability to back up and restore, attach and detach, create, clone, delete and rename the databases.


            </h6>
            <span>
                <div class='pl-3 pt-5 text-center'>
                <i class="fa fa-star-o " style="font-size:20px;color:#5caf01"></i>
                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                <i class="fa fa-star-o" style="font-size:20px;color:#5caf01"></i>
                </div>
            </span>
      <div class='row pt-2'>
          <div class='col-md-4 mx-auto'>
            <button class='btn mt-3 ' style="background:#5caf01;color:#ffff;font-weight: 400;font-size: 18px">Start Now</button>
          </div>
      </div>
            <span ><button class='btn mt-5 ml-5 btn-control' style='border:1px  solid #5caf01;'><span style='color:#fff;font-weight: 400;font-size: 18px'>Database</span></button> </span>
            <button class='btn mt-5 ml-5 btn-control' style='border:1px solid #5caf01'><span style='color:#fff;font-weight: 400;font-size: 18px'>Server</span></button>
        
            </div>
           </div>
</div>
</div>






  
   
</div>-->

<div class='row ' style='background:url("{% static 'images/person11.jpg' %}");background-size: 100% 100%'>
    <div class='col-md-12' style='height:400px;background: rgba(0,0,0,0.5)'>
       
        <h6 class='pt-5' style="font-size: 18px;font-family: 'poppins',sans-serif;font-weight: 400; word-break: break-word;color:#fff" >
            Do only what you love...</h6>

                <h1  class='display-4' style="font-family: 'poppins',sans-serif;font-weight: 600; letter-spacing:2px;word-break: break-word;color:#fff">
                Why we are Number 1
                </h1>
                <div class='row'>
                    <div class='col-md-8 pt-4'>
                            <h6 style="font-size: 18px;font-family: 'poppins',sans-serif;font-weight: 400; word-break: break-word;color:#fff">
                                    As we offer extensive experience,strategic thinking,establishment & implemenation. We help our clients to make the best decision for achieving goals,also gave them advice on the most valuable ways to achieve their objectives.
                                    </h6>
                    </div>
                 </div>
               <div class='row'>
                   <div class='col-md-2 pt-5'>
                        <button class='btn btn-control btn-block ' style='color:#fff;background: #5caf01'>Know more</button>
                   </div>
               </div>
        
    </div>
</div>
<div class='row pt-5' style='background: #fff'>
    <div class='col-md-12'>
        <h1 class='text-center ' style="font-size:50px;font-family: 'poppins',sans-serif;font-weight: 600; letter-spacing:2px;word-break: break-word;color:#222a35">Popular Jobs</h1>
    </div>
</div>
<div class='row pt-3 ' style="background:#fff">
    <div class='col-md-3 mx-auto'>
        <div class='pb-3 text-center'  id='p1' style="height:250px">
            <i class='fab fa-python  pt-3' style='font-size:60px;color:#5caf01'></i>
            <h5 class='pt-4' style="color:#222a35;font-family: 'poppins','sans-serif';font-weight: 600">
                Python Developer</h5>
                <p  style='color:grey;font-size:18px'>
                  Expert in Python, with knowledge of atleast one Python web framework such as django,flask.   </p>
        </div>
    </div>
    <div class='col-md-3 mx-auto'>
        <div class='pb-3 text-center'  id='p2' style="height:250px">
            <i class='fas fa-flask pt-3' style='font-size:60px;color:#5caf01'></i>
            <h5 class='pt-4' style="color:#222a35;font-family: 'poppins','sans-serif';font-weight: 600">
                Science</h5>
                <p  style='color:grey;font-size:18px'>
                    Skills such as inquiry, problem-solving, thinking and learning are an integral part of a good science education. 
                </p>
        </div>
    </div>
    <div class='col-md-3 mx-auto'>
        <div class='pb-3 text-center'  id='p3' style="height:250px">
            <i class='fas fa-sitemap  pt-3' style='font-size:60px;color:#5caf01'></i>
            <h5 class='pt-4' style="color:#222a35;font-family: 'poppins','sans-serif';font-weight: 600">
                Networking</h5>
                <p  style='color:grey;font-size:18px'>
           A process where you develop long term relationships with other for mutual benefits.</p>
        </div>
    </div>
</div>
<div class='row pt-4 pb-5' style='background: #fff'>
    <div class='col-md-3 mx-auto'>
        <div class='pb-3 text-center' id='p4' style="height:250px">
            <i class='fas fa-database  pt-3' style='font-size:60px;color:#5caf01'></i>
            <h5 class='pt-4' style="color:#222a35;font-family: 'poppins','sans-serif';font-weight: 600">
                Database Manager</h5>
                <p  style='color:grey;font-size:18px'>
                    A database manager is a person who develop, manage and manitain a wide range of database.</p>
        </div>
    </div>
    <div class='col-md-3 mx-auto'>
        <div class='pb-3 text-center'  id='p5' style="height:250px">
            <i class='fas fa-user-md  pt-3' style='font-size:60px;color:#5caf01'></i>
             <h5 class='pt-4' style="color:#222a35;font-family: 'poppins','sans-serif';font-weight: 600">
                Medical</h5>
                <p  style='color:grey;font-size:18px'>
                    It is related with the medicines and treatment of injuries and diseases.</p>
        </div>
    </div>
    <div class='col-md-3 mx-auto'>
        <div class='pb-3 text-center' id='p6' style="height:250px">
            <i class='fas fa-globe pt-3' style='font-size:60px;color:#5caf01'></i>
            <h5 class='pt-4' style="color:#222a35;font-family: 'poppins','sans-serif';font-weight: 600">
                Business Assistant</h5>
                <p  style='color:grey;font-size:18px'>
                    for managing the flow of communication through the office, handling basic accounting tasks, managing the purchase </p>
        </div>
    </div>
</div>
    
<div class='row' >

<div class='col-md-12 pt-5 ' style="background:#e7f5fe">
        <div class='carousel slide' data-ride='carousel' id='cid'>
                <div class='carousel-inner' >
                        <div class='carousel-item active'>
    <div class='row'>
        <div class='col-md-2 mx-auto'>
            <img src="{% static 'images/person14.jpg' %}" style="border-radius:50%;height:100px;width:100px;">
         </div>
     </div>
     <div class='row pt-4'>
         <div class='col-md-6 mx-auto'>
             <p style="font-size:20px;color:grey;font-family: 'poppins','sans-serif';">
                <i>I have visited alot of recruitment websites but the experience and help i got from this website is remarkable and i recommend it to all my friends. </i>
            </p>
         </div>
     </div>
     <div class='row pt-3 pb-3 '>
         <div class='col-md-2 mx-auto'>
                
                <h6 class='pt-2 ' style="font-family:'poppins' ,'sans-serif';font-size: 18px;color:#222a35;font-weight:bold">Kristan Stewart</h6>
         </div>
     </div>
                        </div>    
                        <div class='carousel-item '>
     
     <div class='row'>
            <div class='col-md-2 mx-auto'>
                <img src="{% static 'images/person15.jpg' %}" style="border-radius:50%;height:100px;width:100px;">
             </div>
         </div>
         <div class='row pt-4'>
             <div class='col-md-6 mx-auto'>
                 <p style="font-size:20px;color:grey;font-family: 'poppins','sans-serif';">
                    <i>
                    It is a wonderful website as i got job in 2 weeks only after registering here.   
                    </i>
                </p>
             </div>
         </div>
         <div class='row pt-3 pb-3 '>
                <div class='col-md-2 mx-auto'>
                       
                       <h6 class='pt-2 ' style="font-family:'poppins' ,'sans-serif';font-size: 18px;color:#222a35;font-weight:bold">Rihana Cyrus</h6>
                </div>
            </div>
                        </div>
                        <div class='carousel-item '>
         <div class='row'>
                <div class='col-md-2 mx-auto'>
                    <img src="{% static 'images/person16.jpg' %}" style="border-radius:50%;height:100px;width:100px;">
                 </div>
             </div>
             <div class='row pt-4'>
                 <div class='col-md-6 mx-auto'>
                     <p style="font-size:20px;color:grey;font-family: 'poppins','sans-serif';">
                        <i>
                       I have applied for Android Developing job from this website and i got the job very easily at the salary package of 3.6 lac per annum.     
                        </i>
                    </p>
                 </div>
          </div>
          <div class='row pt-3 pb-3 '>
                <div class='col-md-2 mx-auto'>
                       
                       <h6 class='pt-2 ' style="font-family:'poppins' ,'sans-serif';font-size: 18px;color:#222a35;font-weight:bold">Robert De Niro</h6>
                </div>
            </div>
                        </div>
                        <div class='carousel-item '>
             <div class='row'>
                    <div class='col-md-2 mx-auto'>
                        <img src="{% static 'images/person17.jpg' %}" style="border-radius:50%;height:100px;width:100px;">
                     </div>
                 </div>
                 <div class='row pt-4'>
                     <div class='col-md-6 mx-auto'>
                         <p style="font-size:20px;color:grey;font-family: 'poppins','sans-serif';">
                            <i>
                  I was not getting job for the past 3 months but after registering on this site i got the job in just 3 weeks.Thank you for creating this amazing website.          
                            </i>
                        </p>
                     </div>
                 </div>
                 <div class='row pt-3 pb-3 '>
                        <div class='col-md-2 mx-auto'>
                               
                               <h6 class='pt-2 ' style="font-family:'poppins' ,'sans-serif';font-size: 18px;color:#222a35;font-weight:bold">Leonardo DiCaprio</h6>
                        </div>
                    </div>
                 </div>
                 <a href='#cid' class='carousel-control-prev' data-slide='prev' >
                        <span class='carousel-control-prev-icon' style='display: none'></span>
                    </a>
                    <a href='#cid' class='carousel-control-next' data-slide='next'>
                            <span class='carousel-control-next-icon' style='display: none'></span>
                        </a>
</div>
        </div>
</div>
</div>
<div class='row'>
<div class='col-md-12 pt-5 pb-5' style="background: #fff">
<div class='row'>
    <div class='col-md-2'>
        <img src="{% static 'images/echo.png' %}" style='width:100px;height:100px'>
    </div>

    <div class='col-md-2'>
        <img src="{% static 'images/net.png' %}" style='width:100px;height:100px'>
    </div>

    <div class='col-md-2'>
        <img src="{% static 'images/sea.png' %}" style='width:100px;height:100px'>
    </div>

    <div class='col-md-2'>
        <img src="{% static 'images/uco1.png' %}"  style='width:100px;height:100px'>
    </div>

    <div class='col-md-2'>
        <img src="{% static 'images/9x.png' %}" style='width:100px;height:100px'>
    </div>
    <div class='col-md-2'>
        <img src="{% static 'images/aivina.jpg' %}" style='width:100px;height:100px'>
    </div>
</div>
</div>
</div>
   </div>
<div class='container-fluid'>
    <div class='row' style='background: #222a35'>
            <div class='col-md-4 pt-5'>
                    <div class='pb-2 '>
                            <h6 style="font-size:20px;color:#fff;font-family: 'poppins','sans-serif';font-weight:500">
                                Project</h6>
<p class='pt-4' style="color:#fff;font-family: 'poppins','sans-serif';font-weight: 400">
Campus Recruitment  project manage all the details of  college students, various companies visiting  the campus for recruitment and even the college placement officer
</p>
                    </div>
                </div>
                <div class='col-md-3 pt-5 mx-auto'>
                        <div class='pb-2' >
                                <h6 style="font-size:20px;color:#fff;font-family: 'poppins','sans-serif';font-weight:500">Follow Us</h6>
                     <p class='pt-4'><a href='http://www.facebook.com'> 
                         <span><i class='fa fa-facebook' style="color:#fff;font-size:18px"></i>
                            <span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Facebook.com</span>
                        </span></a></p>
                     <p > <a href='http://www.twitter.com'><span><i class='fa fa-twitter' style="color:#fff;font-size:18px"></i>
<span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Twitter.com</span>
                    </span></a></p>
                     <p ><a href='http://www.youtube.com'><span><i class='fa fa-youtube' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Youtube.com</span></span></a></p>
                     <p ><a href='http://www.instagram.com'><span><i class='fa fa-instagram' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Instagram.com</span></span></a></p>
                     <p > <a href='http://www.linkedin.com'><span><i class='fa fa-linkedin' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Linkedin.com</span></span></a></p>
                     <p > <a href='http://www.telegram.com'><span><i class='fa fa-telegram' style="color:#fff;font-size:18px"></i><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Telegram.com</span></span></a></p>
                               
                    </div>
                    </div>
                    <div class='col-md-4 pt-5'>
                            <div class='pb-2' >
                                    <h6 style="font-size:20px;color:#fff;font-family: 'poppins','sans-serif';font-weight:500">Contact Us</h6>
                       <p class='pt-4'><span><i class="fa fa-map-marker" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px"> Plot No, 11-A, Cellulosics Rd, Industrial Area, Sector 58, Sahibzada Ajit Singh Nagar, Punjab 160055
                        </span> </p>     
                       <p><span><i class="fa fa-phone" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Tel: +9814327862</span> </p>     
                       <p><span><i class="fa fa-fax" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">Fax:2233-1543-6547-8976</span> </p>     
                       <p><span><i class="fa fa-envelope" style="color:#fff;font-size:18px" ></i></span><span  class='pl-2' style="color:#fff;font-family: 'poppins','sans-serif';font-weight:500;font-size:17px">sachtech14@gmail.com</span> </p>     
                       </div>
                    </div>
        
    
                <div class='col-md-12 pt-3' style='background:rgba(0,0,0,0.5)'>
                    <h6 class='text-center' style="font-size:15px;color:#fff;font-family: 'poppins','sans-serif'">&copy;2019 Campus Copyright</h6>
                </div>
               
    </div>
    </div>


    {% endblock %}
</body>
<script>
        $(function () {
          $(document).scroll(function () {
            var $nav = $(".fixed-top");
            $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
          });
        })
        </script>
</html>

